<body>
  
    <div class="row">

      <div class="twelve columns box">
        <h3>Bill with settings</h3>
        <div class="">
          Select the call or sms radio button. Update the appropriate total and the overall total when the ADD button in pressed.
          <i>Calls costs should now be configurable using the settings section.</i>
        </div>
        <div class="">
          <i>If the total cost exceed the warning level show the total cost in orange, if it exceeds the critical level show it in red and prevent any new costs from being added. The  warning and critical level should both be configurable now.</i>
        </div>

        <hr>

        <div class="row">

          <div class="six columns">
            <h5>Bill type</h5>
            <form class="" action="/action" method="post">

              <label class="">
                <input type="radio" name="billItemTypeWithSettings" value="sms" class="billItemTypeWithSettings">
                <span class="label-body" >SMS</span>
              </label>

            <label class="">
              <input type="radio" name="billItemTypeWithSettings" value="call" class="billItemTypeWithSettings">
              <span class="label-body">Call</span>
            </label>


            <button class="button-primary" type="submit" name="button">Add</button>
          </form>

            <h5>Totals</h5>
                <table>
                  <tr>
                    <td>
                      <a href="/actions/call" type="call">Call total</a>
                    </td>
                    <td>R<span class="callTotalSettings"> {{callTotal}} </span> </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="/actions/sms" type="sms">SMS total</a>
                    </td>
                    <td>R<span class="smsTotalSettings">{{smsTotal}} </span> </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="/actions">Total</a>
                    </td>
                    <td> R<span class="totalSettings">{{total}}</span> </td>
                  </tr>
                </table>

          </div>
          <div class="six columns">
            <h5>Settings</h5>
            <form class="price" action="/settings" method="post">

              <h5>Sms setting</h5>
          <input type="text" name="smsCost" placeholder="enter sms cost" value="{{smsCost}}">

          <h5>Call setting</h5>
          <input type="text" name="callCost" placeholder="enter call cost" value="{{callCost}}">

          <h5>Warning setting</h5>
          <input type="text" name="warningLevel" placeholder="enter warning level" value="{{warningLevel}}">

          <h5>Critical setting</h5>
          <input type="text" name="criticalLevel" placeholder="enter critical level" value="{{criticalLevel}}">

          <input type="submit">
      </form>

          </div>
        </div>
      </div>
   
  </div>
  <!-- <script src="js/calculate-bill.js" charset="utf-8"></script>
  <script src="js/text-bill.js" charset="utf-8"></script>
  <script src="js/radio-bill.js" charset="utf-8"></script>
  <script src="js/settings-bill-factory.js" charset="utf-8"></script>


</body>
